body {
    background: #efefef;
}

.canvas {
    height: 400px;
    padding: 20px 0 20px 0;
    text-align: center;
}

.pillar {
    border: solid 1px black;
    background: #ccf7c9;
}

.highlight {
    background: #3ce230;
}